*.b#*
*.s#*
*.aux
*.log
*.toc
*.lof
*.lot
Rapport/auto/*
Rapport/pictures/unsorted/*
Software/graph/data/*
Software/Rolling graph/Rolling graph/bin/*
Software/Rolling graph/Rolling graph/obj/*
Software/Rolling graph/Rolling graph/Properties/*
*.user